*.DS_Store
**/data/*
**/figures/*
**/models/*
**/tests/*
**/__pycache__/*
**/jobs_record/*
**/outputs/*
*.err
*.out
*.csv
*.tsv
*.gz
*.bedpe
*.txt
*.png
*.jpg
*.egg-info
**/result/*
**/build/*
**/dist/*
